<?xml version="1.0" encoding="utf-8"?>
<!-- debug 빌드에서만 병합됨. STT 스파이크를 별도 런처 아이콘으로 노출(릴리스 무영향). -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name=".SttSpikeActivity"
            android:exported="true"
            android:label="STT Spike">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
